<!-- Partial for the cards used to display newsletter booking slots -->
<!-- old_slot indicates whether a slot publish_date has already passed-->


<div class="short-card">

  <div class="<%= class_names("short-card__data", {"-faded": old_slot}) %>">
    <h2><%= slot.formatted_date %></h2>
    <p>Price: <%= slot.price.format %></p>
    <p>Booked?: <%= generate_booked_string(slot) %></p>
  </div>

  <div class="short-card__links">
    <% if current_user_owns_newsletter?(@newsletter) %>
      <p><%= link_to '[X] Delete this slot', [@newsletter, slot], method: :delete, data: { confirm: 'Are you sure you want to delete this slot?' } %></p>
    <% end %>

    <% if not old_slot %>
      <% if current_user_owns_newsletter?(@newsletter) %>

        <% if slot.booked? %>
          <%= link_to "Change slot to available.", toggle_booking_status_slot_path(slot), method: :patch, data: { confirm: 'Are you sure? This slot will become available.' }, class: '-color-green' %>
        <% else %>
          <%= link_to "Change slot to booked.", toggle_booking_status_slot_path(slot), method: :patch, data: { confirm: 'Are you sure? This slot will become unavailable' }, class: '-color-red' %>
        <% end %>

      <% else %>
        <% if slot.booked? %>
          <p class="-padded-half -bg-color-light-red -color-dark-red">
            This slot has been booked :(
          </p>
        <% else %>
          <p class="-padded-half -color-dark-green -bg-color-light-green">
            <%= link_to "Slot Available. Book Now →", generate_mailto_string(@newsletter, slot), target: "_blank" %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>