<div class="short-card" >
  <div class="short-card__data">
    <h2><%= slot.formatted_date %></h2>
    <p>Price: <%= slot.price.format %></p>
    <p>Booked?: <%= generate_booked_string(slot) %></p>
    <div class="short-card__links">

      <% if current_user_owns_slot?(slot) %>
        <p><%= link_to '[X] Delete this slot', [@newsletter, slot], method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>

      <% if current_user_owns_slot?(slot) %>

        <% if slot.booked? %>
          <%= link_to "Change slot to available.", toggle_booking_status_slot_path(slot), method: :patch, data: { confirm: 'Are you sure? This slot will become available.' }, class: '-color-green' %>
        <% else %>
          <%= link_to "Change slot to booked.", toggle_booking_status_slot_path(slot), method: :patch, data: { confirm: 'Are you sure? This slot will become unavailable' }, class: '-color-red' %>
        <% end %>

      <% else %>
        <% if slot.booked? %>
          <p class="-padded -bg-color-light-red -color-dark-red">
            This slot has been booked :(
          </p>
        <% else %>
          <p class="-padded -color-dark-green -bg-color-light-green">
            <%= link_to "Slot Available. Book Now →", generate_mailto_string(@newsletter, slot), target: "_blank" %>
          </p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>