<div class="short-card" >
  <div class="short-card__data">
    <h2><%= slot.formatted_date %></h2>
    <p>Price: <%= slot.price.format %></p>
    <p>Booked?: <%= generate_booked_string(slot) %></p>
    <div class="short-card__links">

      <% if current_user_owns_slot?(slot) %>
        <p><%= link_to 'Show', [@newsletter, slot] %></p>
        <p><%= link_to 'Edit', [:edit, @newsletter, slot] %></p>
        <p><%= link_to 'Destroy', [@newsletter, slot], method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>

      <% if current_user_owns_slot?(slot) %>
        <% if slot.booked? %>
          <p>Slot is booked.</p>
        <% else %>
          <p>Available to book.</p>
        <% end %>
      <% else %>
        <% if slot.booked? %>
          <p>This slot has already been booked.</p>
        <% else %>
          <p><%= link_to "Inquire about this slot", generate_mailto_string(@newsletter, slot) %></p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>