<p id="notice"><%= notice %></p>

<h1>Slots</h1>
<h2>Newsletter: <%= @newsletter.name %></h2>

<% @slots.each do |slot| %>
  <div class="display-card">
    <div class="display-card__data">
      <h2><%= slot.formatted_date %></h2>
      <p>Price: <%= slot.price.format %></p>
      <p>Booked?: <%= slot.booked? %></p>
      <div class="display-card__links">

      <% if current_user_owns_slot?(slot) %>
        <p><%= link_to 'Show', [@newsletter, slot] %></p>
        <p><%= link_to 'Edit', [:edit, @newsletter, slot] %></p>
        <p><%= link_to 'Destroy', [@newsletter, slot], method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>

      <% if current_user_owns_slot?(slot) %>
        <% if slot.booked? %>
          <p><%= link_to "View booking information", [slot, slot.booking] %></p>
        <% else %>
          <p>Available to book.</p>
        <% end %>
      <% else %>
        <% if slot.booked? %>
          <p>This slot has already been booked.</p>
        <% else %>
          <p><%= link_to "Book this slot", new_slot_booking_path(slot) %></p>
        <% end %>
      <% end %>

      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Slot', new_newsletter_slot_path(@newsletter, @slot) %>
