

<p id="notice"><%= notice %></p>


<%= render 'newsletters/newsletter_information', newsletter: @newsletter %>
<% if current_user_owns_slot? @slots.first %>
  <%= link_to '> New Slot <', new_newsletter_slot_path(@newsletter, @slot), class: '-padded -bold-text' %>
<% end %>

<button id="button__share-link" >Copy link to this page.</button>
<%= render 'slots_list', :locals => { :future_slots => @future_slots, :past_slots => @past_slots } %>


<%= javascript_pack_tag 'slots.js' %>
