<p id="notice"><%= notice %></p>

<h1>Slots</h1>
<h2>Newsletter: <%= @newsletter.name %></h2>

<% @slots.each do |slot| %>
<div class="display-card">
  <div class="display-card__data">
    <h2><%= slot.formatted_date %></h2>
    <p>Price: $<%= slot.price_cents %></p>
    <p>Booked?: <%= slot.booked %></p>
    <div class="display-card__links">
      <p><%= link_to 'Show', [@newsletter, slot] %></p>
      <p><%= link_to 'Edit', [:edit, @newsletter, slot] %></p>
      <p><%= link_to 'Destroy', [@newsletter, slot], method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <p><%= link_to "Book this slot" %></p>
    </div>
  </div>
</div>
<% end %>

<br>

<%= link_to 'New Slot', new_newsletter_slot_path(@newsletter, @slot) %>
