<p id="notice"><%= notice %></p>

<div class="display-card">
  <div class="display-card__data">
    <h2><%= @slot.formatted_date %></h2>
    <p>Price: <%= @slot.price.format %></p>
    <p>Booked?: <%= @slot.booked? %></p>
  </div>

  <% if @slot.booked? %>
    <h2>Information: </h2>
    <%= render 'bookings/booking_information', booking: @slot.booking %>
  <% end %>

  <div class="display-card__links">
    <%= link_to 'Edit', [:edit, @newsletter, @slot] %>
  </div>
</div>

<%= link_to 'Back', newsletter_slots_path(@newsletter) %>
