<%= form_with(model: newsletter) do |form| %>
  <% if newsletter.errors.any? %>
    <%= render 'layouts/form_alert', errors: newsletter.errors %>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :information %>
    <%= form.text_area :information %>
  </div>

  <div class="field">
    <%= form.label :statistics %>
    <%= form.text_area :statistics %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
