<%= form_with(model: newsletter) do |form| %>

  <% if newsletter.errors.any? %>
    <%= render 'layouts/form_alert', errors: newsletter.errors %>
  <% end %>

  <div class="space-y-8">
    <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Newsletter Information
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          This information will be displayed publicly so be careful what you share.
        </p>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <%= form.label "Name", class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1 flex rounded-md shadow-sm">
            <%= form.text_field :name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>
          <% unless @newsletter.new_record? %>
            <p class="mt-2 text-sm text-gray-500"><span class="text-red-500">Warning: </span>Changing the name will also change the page URL. This will break existing links.</p>
          <% end %>
        </div>

        <div class="sm:col-span-6">
          <%= form.label "Information", class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_area :information, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md" -%>
          </div>
          <p class="mt-2 text-sm text-gray-500">Some general info about your newsletter.</p>
        </div>

        <div class="sm:col-span-6">
          <%= form.label "Statistics", class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_area :statistics, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md" %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Some key statistics - subscribers, CTR & open rate are recommended.</p>
        </div>
      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-end">
        <%= link_to 'Back', root_path, class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
        <%= form.submit "Save changes", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
      </div>
    </div>
  </div>

<% end %>