<p id="notice"><%= notice %></p>

<div class="display-card">
  <div class="display-card__data">
    <h2><%= @newsletter.name %></h2>
    <p>Statistics: <%= @newsletter.statistics %></p>
    <p>Information: <%= @newsletter.information %></p>
  </div>

  <div class="display-card__links">
    <% if current_user_owns_newsletter?(@newsletter) %>
      <%= link_to 'Edit', edit_newsletter_path(@newsletter) %>
    <% end %>
    <%= link_to "View slots for #{@newsletter.name}", newsletter_slots_path(@newsletter) %>
  </div>

  </div>
</div>

<% if current_user_owns_newsletter?(@newsletter) %>
  <%= link_to 'Back', newsletters_path %>
<% end %>
