<div class="display-card__data">
  <h2>Booker Information:</h2>
  <p>Booker name: <%= booking.booker_name %></p>
  <p>Booker email: <%= booking.booker_email %></p>
  <p>Booker address: <%= booking.booker_billing_address %></p>
</div>

<div class="display-card__data">
  <h2>Advertisement Information:</h2>
  <p>Product: <%= booking.advert_product %></p>
  <p>Url: <%= booking.advert_url %></p>
  <p>Image Url: <%= booking.advert_image_url %></p>
  <p>Title: <%= booking.advert_title %></p>
  <p>Description: <%= booking.advert_description %></p>
</div>