<%= form_with(model: booking, url: [@slot, @booking]) do |form| %>
  <div class="booking-form">
    <% if booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
          <% booking.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="booking-form__booker -padded">
      <h2>Booker Information</h2>
      <p class="-subheading-text">Simple info so you can be reached if there's any issues.</p>
      <div class="field">
        <%= form.label :booker_name %>
        <%= form.text_field :booker_name %>
      </div>

      <div class="field">
        <%= form.label :booker_email %>
        <%= form.email_field :booker_email %>
      </div>

      <div class="field">
        <%= form.label :booker_billing_address %>
        <%= form.text_field :booker_billing_address %>
      </div>
    </div>

    <div class="booking-form__advert -padded">
      <h2>Ad Information</h2>
      <p class="-subheading-text">Information on the advertisement.</p>
      <div class="field">
        <%= form.label :advert_title %>
        <%= form.text_field :advert_title %>
      </div>

      <div class="field">
        <%= form.label :advert_product %>
        <%= form.text_field :advert_product %>
      </div>

      <div class="field">
        <%= form.label :advert_description %>
        <%= form.text_area :advert_description %>
      </div>

      <div class="field">
        <%= form.label :advert_url %>
        <%= form.text_field :advert_url %>
      </div>

      <div class="field">
        <%= form.label :advert_image_url %>
        <%= form.text_field :advert_image_url %>
      </div>


    </div>


    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>

